RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]  //Всегда направлять на index.php

<FilesMatch "config.xml">
Order Deny,Allow
Deny from all
</FilesMatch>